{% if site.data.sharing.github_user %}
<section>
  <h1>GitHub Repos <i class="fa fa-github"></i></h1>
  <ul id="gh_repos">
    <li class="loading">Status updating...</li>
  </ul>
  {% if site.data.sharing.github_show_profile_link %}
  <a href="https://github.com/{{site.data.sharing.github_user}}">@{{site.data.sharing.github_user}}</a> on GitHub
  {% endif %}
  <script type="text/javascript">
    $(document).ready(function(){
        if (!window.jXHR){
            var jxhr = document.createElement('script');
            jxhr.type = 'text/javascript';
            jxhr.src = '{{ root_url}}/assets/js/jXHR.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(jxhr, s);
        }

        github.showRepos({
            user: '{{site.data.sharing.github_user}}',
            count: {{site.data.sharing.github_repo_count}},
            skip_forks: {{site.data.sharing.github_skip_forks}},
            target: '#gh_repos'
        });
    });
  </script>
  <script src="{{ root_url }}/assets/js/github.js" type="text/javascript"> </script>
</section>
{% endif %}
